<!DOCTYPE html>
<html>
  <head>
    <title>RallyAmericaEvents</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag "multi-select", media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.multi-select' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- <link href="/multiselect.scss" media="screen" rel="stylesheet" type="text/css">
    <script src="/jquery.multi-select.js" type="text/javascript"></script> -->
    <!-- , "data-turbolinks-track" => true -->
    <!-- Bootstrap Date-Picker Plugin -->

    <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

  </head>
    <body>
      <div id="site-wrapper">
        <div id="site-canvas">
          <div id="top-bar">
              <ul class="nav dropdown">
                <li class="button-dropdown">
                  <%= link_to "javascript:void(0)", class:"dropdown-toggle", :"data-transition" => 'boring' do %>
                    <span class="menu-icon"></span>
                    <span class="menu-text">Menu</span>
                    <span class="menu-icon-close"></span>
                    <span class="menu-text-close">Close</span>
                  <% end %>
                </li>
              </ul>
              <div class="logo-container">
                <%= link_to image_tag('rally-logo.png'), root_path, class:"logo" %>
              </div>
              <div class="social-container">
                <ul>
                  <%- if user_signed_in? %>
                    <%- if current_user.admin? %>
                     <li><%= link_to "Admin", admin_root_path %></li> |
                    <%- else %>
                      <li><%= link_to "Profile", user_path(current_user) %></li> |
                    <%- end %>
                    <li><%= link_to "Logout", destroy_session_path(current_user), :controller => "users", method: :delete %></li>
                  <%- else %>
                    <li class="login"><%= link_to "Login", new_user_session_path %></li> |
                    <li><%= link_to "Signup", new_user_registration_path %></li>
                  <%- end %>
                </ul>

                <%# link_to image_tag('fb-icon.svg'), "https://www.facebook.com/RallyAmerica/", class:'fb op', target: "_blank" %>
                <%# link_to image_tag('youtube-icon.svg'), "https://www.youtube.com/user/RallyAmericaSeries", class:'youtube op', target: "_blank" %>
                <%# link_to image_tag('fb-icon-black.svg'), "https://www.facebook.com/RallyAmerica/", class:'fb black', target: "_blank" %>
                <%# link_to image_tag('youtube-icon-black.svg'), "https://www.youtube.com/user/RallyAmericaSeries", class:'youtube black', target: "_blank" %>
              </div>
            </div>
            <div id="site-menu">
              <ul class="dropdown-menu">
                <div class="top-nav">
                  <%- if current_user %>
                    <%- if current_user.admin?  && current_user.volunteers %>
                      <li><%= link_to "Profile", user_path(current_user) %></li>
                    <%- end %>
                  <%- end %>
                  <li><%= link_to "Events", events_path %></li>
                  <li><%= link_to "Teams", teams_path %></li>
                  <%- if user_signed_in? %>
                    <%- if !current_user.volunteers %>
                      <li><%= link_to "Volunteer", new_user_volunteer_path(current_user), class: "volunteer-link" %></li>
                    <%-else %>
                      <li><%= link_to "Volunteer", show_user_path(current_user), class: "volunteer-link" %></li>
                    <%- end %>
                  <%- else %>
                    <li><%= link_to "Volunteer", new_user_registration_path %></li>
                  <%- end %>
                </div>
                <!-- <%- if user_signed_in? %>
                  <div class="bottom-nav">
                     <%- if current_user.admin? %>
                      <li><%= link_to "Admin", admin_root_path %></li>
                     <%- end %>
                     <li><%= link_to "Logout", destroy_session_path(current_user), :controller => "users", method: :delete %></li>
                  </div>
                <%- else %>
                  <div class="bottom-nav">
                    <li><%= link_to "Login", new_user_session_path %></li>
                    <li><%= link_to "Signup", new_user_registration_path %></li>
                  </div>
                <%- end %> -->
              </ul>
            </div>
        <% if current_page?(root_path) %>
          <%# render 'layouts/home_header' %>
        <% else %>
          <!-- <div id="banner-container">
            <div class="banner"></div>
          </div> -->
        <% end %>
        <div class="content">
          <%= yield %>
        </div>
        <!-- <footer id="footer">
          <sub>Copyright © 2017 Rally America, Inc. - All Rights Reserved.<sub>
        </footer> -->
      </div>
    </div>
  </body>
</html>
