<!DOCTYPE html>
<html>
  <head>
    <title>RallyAmericaEvents</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'application' %>

    <!-- Bootstrap Date-Picker Plugin -->

    <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

  </head>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div id="logo" class="navbar-header">
        <%= link_to image_tag('rally-logo.png'), root_path, class: "navbar-brand" %>
      </div>
        <ul id= "right-nav" class="nav navbar-nav navbar-right">
          <li><%= link_to "Events", events_path %></li>
          <li><%= link_to "Teams", teams_path %></li>
          <%- if user_signed_in? %>
             <li><%= link_to "Admin", admin_root_path %></li>
             <li><%= link_to "Logout", destroy_user_session_path, :controller => "users", method: :delete %></li>
          <%- else %>
             <li><%= link_to "Login", new_user_session_path %></li>
          <%- end %>

        </ul>
      </div>
    </div>
  </nav>

  <body>
    <div id="banner-container">
      <div class="banner"></div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
    <!-- <footer id="footer">

    </footer> -->
  </body>
</html>
